.editModal
  {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 5%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4); }

.editmodal-content{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #ffffff;
  max-width: 50%;
  height: auto;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  /* padding: 0 15px; */
  margin: 0 auto;
}

.edit-info-input{
  display: none;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.edit-info-input input{
  flex-basis: 80%;
}

.seo_input{
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
}

.seo-btn{
  display: block;
  width: 85px;
  margin: 0 auto;
}
.edit-info-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1; }

.edit-info-file + label:hover {
  cursor: pointer;
  border: 1px dashed red;
  display: inline-block;
  padding: 30px 0; }

.del-img-button{
  background: #f66059;
  color: #fff;
  padding: 10px;
  display: inline-block;
  text-decoration: none;
}
.previewImg{
  padding-right: 15px;
  width: 200px;
}

.small-delete{
  text-decoration: none;
  color: #fff;
  background: red;
  padding: 5px;
  font-size: 10px;
  text-transform: uppercase;
}

.small-delete:hover{
    box-shadow: 0px 3px 5px 0px black;
}