{% extends 'basic.html' %}
{% load static %}

{% block content %}
    <section class="slider">
        <div class="my-slider">
            {% for slide in slider %}
                <div><img src="{{ slide.image.url }}" alt=""></div>
            {% endfor %}

        </div>
    </section>
    <section class="about-main">
        <div class="container">
            <div class="breadcrumbs mb30">
                <ul>
                    <li><a href="/">Главная</a></li>
                    <li>О нас</li>
                </ul>
            </div>
        {% if user.is_authenticated %}
            <div>
             <label for="page_title">TITLE страницы</label>
            <input class="seo_input" id="page_title" value="{{ title }}">
            <label for="page_description">DESCRIPTION страницы</label>
            <input class="seo_input" id="page_description" value="{{ description }}">
            <label for="page_keywords">KEYWORDS страницы</label>
            <input class="seo_input" id="page_keywords" value="{{ keywords }}">
                <input type="hidden" id="page_target" value="about">
             <a  class="btn seo-btn" data-target="" href="javascript:void(0)" onclick="saveSEO(this)">Сохранить</a>
            </div>

         {% endif %}

            {% if user.is_authenticated %}
                <h1 class="mb30 admin-edit" onclick="editHeader(this,'about_header_section1')">{{ header_section1 }}</h1>
                <div id="about_header_section1" class="edit-info-input">
                    <input id="about_header_section1_input" style=" padding: 10px" value="{{ header_section1 }}">
                    <a class="btn" id="about_header_section1_btn" data-target="" href="javascript:void(0)" onclick="saveHeader(this)">Сохранить</a>
                </div>

            {% else %}
                <h1 class="mb30">{{ header_section1 }}</h1>
            {% endif %}


            <div class="about-info">

                {% if user.is_authenticated %}
                    <div class="admin-edit" onclick="editInfo(this,'about_text1_section1')">{{ text1_section1 | safe }}</div>
                {% else %}
                    <div>{{ text1_section1 | safe }}</div>
                {% endif %}

                {% if user.is_authenticated %}
                    <div class="admin-edit" onclick="editInfo(this,'about_text2_section1')">{{ text2_section1 | safe }}</div>
                {% else %}
                     <div>{{ text2_section1 | safe }}</div>
                {% endif %}



            </div>
        </div>
    </section>
    <section class="our-clients">
        <div class="container">
          {% if user.is_authenticated %}
                <h3 class="mb30 admin-edit" onclick="editHeader(this,'about_header_section2')">{{ header_section2 }}</h3>
                <div id="about_header_section2" class="edit-info-input">
                    <input id="about_header_section2_input" style=" padding: 10px" value="{{ header_section2 }}">
                    <a class="btn" id="about_header_section2_btn" data-target="" href="javascript:void(0)" onclick="saveHeader(this)">Сохранить</a>
                </div>

            {% else %}
                <h3 class="mb30">{{ header_section2 }}</h3>
            {% endif %}

        {% if user.is_authenticated %}
                    <div class="admin-edit" onclick="editInfo(this,'about_text1_section2')"> {{ text1_section2 |safe }}</div>
                {% else %}
                    {{ text1_section2 |safe }}
                {% endif %}

            <div class="clients">
                {% for client in clients %}
                    <div class="client ">
                        <input id="client_{{client.id}}" data-target="client" data-id="{{client.id}}" type="file" onchange="changeImg(this)"  class="edit-info-file">
                        <label for="client_{{client.id}}"  >
                        <img id="client_img_{{ client.id }}"  src="{{ client.image.url }}" alt=""></label>
                    </div>
                {% endfor %}

            </div>

        </div>
    </section>
    <section class="manufacture">
        <div class="container">
          {% if user.is_authenticated %}
                <h3 class="mb30 admin-edit" onclick="editHeader(this,'about_header_section3')">{{ header_section3 }}</h3>
                <div id="about_header_section3" class="edit-info-input">
                    <input id="about_header_section3_input" style=" padding: 10px" value="{{ header_section3 }}">
                    <a class="btn" id="about_header_section3_btn" data-target="" href="javascript:void(0)" onclick="saveHeader(this)">Сохранить</a>
                </div>

            {% else %}
                     <h3 class="mb50">{{ header_section3 }}</h3>
            {% endif %}

            <div class="manufacture-items">
                {% for work in works %}
                    <div>
                        <input id="work_{{work.id}}" data-target="work" data-id="{{work.id}}" type="file" onchange="changeImg(this)"  class="edit-info-file">
                        <label for="work_{{work.id}}"  >
                        <img id="work_img_{{ work.id }}"  src="{{ work.image.url }}" alt=""></label>

                    </div>
                {% endfor %}



            </div>
        </div>
    </section>
    {% include 'order_form.html' %}


 {% if user.is_authenticated %}
       {% include 'editmodal.html' %}
    {% endif %}




{% endblock %}

{% block js %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.1/min/tiny-slider.js"></script>
    <script>
        var slider = tns({
            container: '.my-slider',
            items: 1,
            controls: false,
            navPosition: 'bottom',


        });
    </script>
{% endblock %}