{% extends 'basic.html' %}
{% load static %}

{% block content %}
    <section class="portfolio-main">
        <div class="container">
            <div class="breadcrumbs mb30">
                <ul>
                    <li><a href="/">Главная</a></li>
                    <li><a href="{% url 'portfolio' %}">Портфолию</a></li>
                    <li>{{ category.name }}</li>
                </ul>
            </div>
            <h1 class="mb30">Куртки</h1>
            <div class="portfolio-items">
                {% for item in items %}
                    <div class="portfolio-item">
                        <a href="{% url 'portfolio_item' category.name_slug item.name_slug %}"><img src="{{ item.itemimage_set.first.image_small.url }}" alt=""></a>

                        <h5><a href="{% url 'portfolio_item' category.name_slug item.name_slug %}">{{ item.name }}</a></h5>
                        {% if item.min_price > 0 %}
                            <p>Цена пошива: от {{ item.min_price }} до {{ item.max_price }} руб</p>
                        {% else %}
                            <p>Цена пошива: {{ item.max_price }} руб</p>
                        {% endif %}
                    </div>
                {% endfor %}


            </div>


        </div>

    </section>

{% endblock %}

{% block js %}

{% endblock %}