{% extends 'basic.html' %}
{% load static %}

{% block content %}
 <section class="map">
 <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Af23411efd9c9fdfaee6c2ebe0679d056053b24e8835ed81426b0f7568d094f40&amp;width=100%25&amp;height=463&amp;lang=ru_RU&amp;scroll=true"></script>

</section>
<section class="contact-main">
    <div class="container">
        <div class="breadcrumbs mb30">
            <ul>
                <li><a href="/">Главная</a></li>
                <li>Контакты</li>
            </ul>
        </div>
        {% if user.is_authenticated %}
            <div>
             <label for="page_title">TITLE страницы</label>
            <input class="seo_input" id="page_title" value="{{ title }}">
            <label for="page_description">DESCRIPTION страницы</label>
            <input class="seo_input" id="page_description" value="{{ description }}">
            <label for="page_keywords">KEYWORDS страницы</label>
            <input class="seo_input" id="page_keywords" value="{{ keywords }}">
                <input type="hidden" id="page_target" value="contacts">
             <a  class="btn seo-btn" data-target="" href="javascript:void(0)" onclick="saveSEO(this)">Сохранить</a>
            </div>

         {% endif %}

    {% if user.is_authenticated %}
                <h1 class="mb30 admin-edit" onclick="editHeader(this,'contact_header_section1')">{{ contact_header_section1 }}</h1>
                <div id="contact_header_section1" class="edit-info-input">
                    <input id="contact_header_section1_input" style=" padding: 10px" value="{{ contact_header_section1 }}">
                    <a class="btn" id="contact_header_section1_btn" data-target="" href="javascript:void(0)" onclick="saveHeader(this)">Сохранить</a>
                </div>

            {% else %}
               <h1 class="mb30">{{ contact_header_section1 }}</h1>
            {% endif %}

             {% if user.is_authenticated %}
                    <div class="mb50 admin-edit" onclick="editInfo(this,'contact_text1_section1')">{{ contact_text1_section1 | safe }}</div>
                {% else %}
                    <div class="mb50">
                       {{ contact_text1_section1 |safe }}
                    </div>
                {% endif %}

        {% if user.is_authenticated %}
                <h1 class="mb30 admin-edit" onclick="editHeader(this,'contact_header_section2')">{{ contact_header_section2 }}</h1>
                <div id="contact_header_section2" class="edit-info-input">
                    <input id="contact_header_section2_input" style=" padding: 10px" value="{{ contact_header_section2 }}">
                    <a class="btn" id="contact_header_section2_btn" data-target="" href="javascript:void(0)" onclick="saveHeader(this)">Сохранить</a>
                </div>

            {% else %}
                <h3 class="mb30">{{ contact_header_section2 }}</h3>
            {% endif %}
        {% if user.is_authenticated %}
                    <div class="mb50 admin-edit" onclick="editInfo(this,'contact_text1_section2')">{{ contact_text1_section2 | safe }}</div>
                {% else %}
                    {{ contact_text1_section2 |safe }}
                {% endif %}

    </div>

</section>
     {% if user.is_authenticated %}
       {% include 'editmodal.html' %}
    {% endif %}

{% endblock %}

{% block js %}

{% endblock %}