.slider
  max-height: 495px
  background: #ededed
.about-main
  padding: 50px 0 100px 0
  background: #ededed
.about-info
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(250px, auto))
  grid-gap: 1em
.our-clients
  padding: 50px 0 100px 0
  p
    max-width: 50%
    margin-bottom: 80px
.clients
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(250px, auto))
  grid-gap: 1em
  text-align: center

.manufacture
  padding: 50px 0 100px 0
  background: #ededed
.manufacture-items
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(250px, auto))
  grid-gap: 35px
  text-align: center

.tns-nav
  position: relative
  top: -52px
  left: 50%

  button
    border: none
    background: #ffffff
    border-radius: 50%
    padding: 4px 4px
    margin-right: 10px

.tns-nav-active
  padding: 6px 6px !important
  background: #f66059 !important
  border: 5px solid #ffffff !important